body {
    background-color: #16242D;
    margin: 0;
	  padding: 0;
  }

.fix{
    position:fixed;
    bottom:0px;
  }

.gravestone {

}

.gravestone:hover {
  transform: translate(0, -4px);
}

#hauntDisplay{
  opacity: 0;
  transition: 1s;
}

#hauntDisplay.fade-in {
  opacity: 1;
  transition: 1s;
}

.spookyFont{
  font-family: 'Creepster', cursive;
  color: #CCD0D0;
}

.bigDisplay{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 5vw;
}

.floatGhost{
  text-align:center;
  padding: 10%;
}

.actualGhost{
  
}


.stackedDivTwo{
  position:fixed;
  bottom: 600px;
}

